<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>
  <div class ="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores veniam eveniet quisquam temporibus, dolorem cupiditate beatae numquam id, perspiciatis, eius corporis enim possimus quibusdam incidunt sapiente dolor hic? Doloribus, nisi.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores sequi, adipisci deleniti cum alias aspernatur repellendus magni saepe fugit placeat maiores totam ex omnis quibusdam, architecto veritatis eveniet voluptatem. Eum?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis delectus doloribus porro, corporis ipsum repellendus? Atque voluptatem iure voluptates dolorem modi, sequi quidem necessitatibus veritatis, incidunt esse quae aspernatur accusantium.</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>